body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.row {
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.panel {
  width: 400px;
  height: 300px;
  background-color: white;
  box-sizing: border-box;
  padding: 14px;
  margin: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 3px 2px rgba(0,0,0,.15);
  color: #111111;
  background-color: #ecf0f1;
}

.panel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

hr {
  margin-top: 8px;
  margin-bottom: 6px;
}

.section-header {
  padding: 20px;
  font-weight: bolder;
  font-size: 3em;
}

.panel-heading {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}

.panel-body {
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
}

.my-paragraph{
  padding:50px;
  font-size: 16px;
  border
}

#title-cover {
  background-image: url("snowtisch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;

}

.panel a {
}

#navbar {
  display: flex;
  font-size: 1em;
  color: white;
}

#main-title {
  text-decoration: underline;
  text-align: center;
  vertical-align: middle;
  line-height: 85vh;
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
}

ul {
  padding: 0px;
  margin-top: 0px;
  list-style: none;
}

li {
  margin: 12px;
  border-width: thin;
  border-color: white;
}

li a {
  font-weight: light;
  color: white;
  text-decoration: none;
}

.blue {
  background-color: #3498DB;
}

.red {
  background-color: #FC575E;
}

.green {
  background-color: lightgreen;
}
