@import 'vex/css/vex-theme-wireframe.css';

$darkGray: #404040;
$lightGray: #D8D8D8;
$lightestGray: #F8F8F8;
@mixin mobile {
    @media (max-width: 400px) {
        @content;
    }
}

body {
    color: $darkGray;
    font-family: "American Typewriter";
    font-size: 16px;
}

a {
    text-decoration: inherit;
    color: inherit;
    font-weight: inherit;
}

.row {
    width: 100vw;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-header {
    margin-bottom: .4em;
    font-weight: 600;
    font-size: 4em;
}

.paragraph {
    line-height: 2.1em;
}

.skinny-content {
    width: 450px;
    max-width: 100%;
}

.panel-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.panel {
    $panelHeight: 260px !global;
    $panelRatio: .15 !global;
    height: $panelHeight;
    width: 270px;
    box-sizing: border-box;
    padding: 0px;
    margin: 25px;
    overflow: hidden;

    background-color: $lightestGray;

    flex-grow: 0.1;

}

.panel-heading {
    vertical-align: middle;;
    line-height: $panelRatio * $panelHeight;
    height: 100% * $panelRatio;
    padding: 5px;
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: 600;
}

.panel-thumb {
    height: auto;
    width: 100%;
    background-color: $lightGray;
    filter: saturate(0) brightness(1.5) contrast(10) brightness(.965) opacity(.75);
    transition: .25s filter;
}
.panel-thumb:hover {
    filter: saturate(1)  brightness(1) contrast(1) brightness(1) opacity(1);
}

.vex-content {
    // height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        width: 40%;
        height: auto;
        align-self: right;
        padding-left: 1em;
        padding-bottom: 1em;
    }
    a {
        text-decoration: underline;
    }
}

.thumb-light {
    filter: grayscale(1) invert(1) brightness(2) invert(1) brightness(.97);// s contrast(.9);
    transition: 0s filter;

}
.thumb-light:hover {
    filter: grayscale(0) invert(0) brightness(1) invert(0) brightness(1);// s contrast(.9);
}

#name-svg{
    margin-left: 70px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    box-sizing: border-box;
    max-width: 530px;
    min-width: 270px;
    @include mobile {
        margin: 0px;
    }
}

#title-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}

#nav-list {
    margin-bottom: 50px;
    margin-right: 55px;
    font-family: "American Typewriter";
    text-align: right;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-self: flex-end;

    li {
        margin-bottom: .6em;
        padding: .6em;
        transition: font-weight .75s easeOutBack;
        box-sizing: con-box;

        :hover {
            font-weight: bolder;
        }

    }
}


#main-container {
    display: flex;
    flex-direction: column;
    @include mobile{
        align-items: flex-start;;
    }
}

#about-row {
    height: 100vh;
}

#projects-row {
    margin-left: 0px;
    margin-right: 0px;
    @include mobile {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#contact-row {
    color: $lightestGray;
    background-color: $darkGray;
    text-align: center;
    align-items: center;
    height: 50vh;
}

.gray-grain {
     background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=90&opacity=6);
 }

  .vex-content {
      padding: 1em;
      width: 100vw;
 }
